.button-navigation {
  height: 40px;
  background: coral;
  display: flex;
  justify-content: flex-end;
}
.button-navigation:hover {
  background-color: #ddd;
  color: black;
}
#number-box {
  width: 10%;
  padding: 10px 6px 10px 6px;
  background-color: #93B084;
  color: white;
}

#text-box {
  padding: 10px 10px 10px 10px;
  background-color: #68A246;
  color: white;
}
