
$app-width:1000px;
$app-height:900px;

$backgroud-grey-panel: #CFD1CB;
$primary-color: #4cb3ff;//#55893D;
$secondary-color: #54c5ff;//#68A246;
$third-color: #59daff;

$panel-color: #fefffb;
$active-button-color: #FF7901;
$font-family: Arial Rounded MT Bold;
$font-stack: Arial Rounded MT Bold, sans-serif, 20px;
