@import '../../../variables';
nav {
  margin: 0 auto;
  background-color: #4cb3ff;
  display: flex;
  justify-content: flex-end;
}

#buttons-box {
  display: flex;
  justify-content: flex-end;
}
#logo {
  margin: 0px 0px 0px 0px;
}


