#outerspace {
  display: flex;
  justify-content: center;

}

#workspace {
  width: 600px;
  height: 800px;
  margin:20px auto 10px auto;
  background-color: #ffffff;

}
#image-box {
 /* display: flex;
  height: 800px;
  justify-content: center;
  background-color: #59daff;*/
}
#image{
  top:45%;
  justify-content: center;
  position: absolute;
  background-color: #e74c3c;
}
