@import '../../../variables';
#outerspace{
}
mat-table  {
  width: 100%;
}


#white-board {
  width: 600px;
  justify-content: left;
  margin: 30px auto 10px auto;
  #header {
    font-family:$font-family;
    padding: 15px;
    width: 300px;
    height: 10px;
    margin: 0px auto 0px 0px;
    background-color: #ffffff;;
  }

  #workspace {
    width: 600px;
    height: 700px;
    margin: 0px auto 10px auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll
  }

  #workspace1 {
    width: 600px;
    height: 700px;
    margin: 0px auto 10px auto;
    background-color: #ffffff;
    align-items: center;
    overflow-y: scroll
  }
}




#image-box {
  background-color: #59daff;
  padding: 10px;

}

#image {
  margin: 20px 20px 20px 20px;
}

